/** Colors */

$white: #fff;
$black: #000;
$titles: #333;
$gray: #9b9b9b;

// $main-color: #4fb74f;
// $dark-green: #269926;
// $light-green: #effaef;
// $dark: #44403f;
// $light: #f5f6f0;

/** Config  */

$mobile-space: 20px;
$mobile-bar-height: 50px;
$desktop-bar-height: 64px;
